@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

:root {
  --light-color: #cdf5fd;
  --dark-color: #363062;
  --grey-color: #ccd5d8;
  --alert-color: #f194a3;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background: rgb(27, 28, 26);
  color: white;
}

#create-task-btn {
  position: fixed;
  background-color: var(--light-color);
  height: 50px;
  width: 50px;
  left: 50%;
  bottom: 20px;
  font-size: 16px;
  border: 0;
  border-radius: 100px;
  box-shadow: 8px 8px 15px -3px rgba(0, 0, 0, 0.4),
  inset 0px 5px 15px -3px rgba(0, 0, 0, 0.4);
  transform: translateX(-50%);
  transition: all 250ms;
  cursor: pointer;
  user-select: none;
}

#create-task-btn::after,
#create-task-btn::before {
  content: "";
  position: absolute;
  background-color: var(--dark-color);
  width: 50%;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
}

#create-task-btn::before {
  transform: translateX(-50%) rotate(90deg);
}

#create-task-btn:hover {
  transform: translateX(-50%) scale(1.05) rotate(-1deg);
}

#create-task-btn:active {
  transform: translateX(-50%) scale(1);
}

.hidden {
  transform: translateY(-150%);
}

.hidden2{
  transform: translateX(-150%);
}
